<div class="hero-wrapper">
  <div class="gradient-bg-top"></div>

  <div class="hero-content">
    <h1 class="hero-title">
      Exploitez vos données pour prendre de meilleures décisions
    </h1>
    <p class="hero-subtitle">
      SmartDecide vous aide à analyser vos données métier<br />
      et à transformer vos insights en décisions stratégiques.
    </p>

    <div class="hero-buttons">
      <a routerLink="/analyze" class="btn-primary">Commencer</a>
    </div>
  </div>

  <div class="gradient-bg-bottom"></div>
</div>
